$category-text-color: #999999;
$text-secondary-color: #666666;

$franklin-font: 'Libre Franklin', sans-serif;
$serif-font: 'Source Serif Pro', serif;
$tenor-font: 'Tenor Sans', sans-serif;

$separator: 1px solid #E6E6E6;