@use '../variables' as *;
@use '../mixins' as *;

.header {
    @include paddingY(37px, 37px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    &__navigation-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__navigation-item {
        @include font($franklin-font, 400, 14px, 24px, #000000);
        text-decoration: none;

        &:hover {
            color: sandybrown;;
            transition-property: color;
            transition-duration: 1s;
        }
    }
}

@media (min-width: 460px) {
    .header {
        flex-direction: row;
    }
}